<p id="notice"><%= notice %></p>

<h1>婚姻届一覧</h1>

<!-- <table> -->
<table class="table">
  <thead>
    <tr>
      <th>色</th>
      <th>素材</th>
      <th>枠</th>
      <th></th>
      <!-- <th>User</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customizes.each do |customize| %>
      <tr>
        <td><%= customize.color.name %></td>
        <td><%= customize.material.name %></td>
        <td><%= customize.waku.name %></td>
        <td><%= image_tag('washi01.jpg',width:150) %></td>
        <!-- <td><%= customize.user_id %></td> -->
        <td><%= link_to '確認', customize %></td>
<!--         <td><%= link_to 'Edit', edit_customize_path(customize) %></td> -->
        <td><%= link_to '削除', customize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/customizes/new" class="btn btn-default">婚姻届作成</a>
<!-- <%= link_to '婚姻届作成', new_customize_path %> -->
