<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @customize.color.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @customize.material.name %>
</p>

<p>
  <strong>Waku:</strong>
  <%= @customize.waku.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @customize.user_id %>
</p>

<%= link_to '婚姻届一覧', customizes_path %> |
<%= link_to '予約', appointments_path %>
