<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
	<div class="container">
	  <div class="row">
	  	<div class="col-sm-3">
  <div class="form-group">
    <label for="appointment_factory_id">工房選択</label><br>

    <%= f.collection_select(:factory_id,@factories,:id,:name, {}, {:class => 'form-control'}) %>

  </div>	  		
	  	</div>
	  </div>
	</div>


  
  <div id="calendar"></div>
  
  <div class="actions">
    <%= f.submit "予約確定", :class =>"btn btn-default"%>
  </div>
<% end %>

<script>
 $('#calendar').fullCalendar();
</script>
